@import"variables.css";
@import"global.css";
@import"navbar.css";
@import"header.css";
@import"about.css";
@import"projects.css";
@import"contact.css";
@import"footer.css";

body{
    color: white;
    background-color: var(--custGray);
    font: var(--font-one);
}
div{
    /*border: 3px solid red;*/
}